<!DOCTYPE html>
<html>
  <head>
    <title>OEM Q&A</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script> -->
    <script src="/javascripts/index.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css"> -->
  </head>
  <body>
    Hello! This will be the login in page eventually
    <form method="post" action="/login" class="form-inline">
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </body>
</html>