<!DOCTYPE html>
<html>
  <head>
    <title>OEM Q&A</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script> -->

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css"> -->
  </head>
  <body id="login-body">
    <div class="jumbotron">
      <div class="jumbo-container">
        <h1> OEM WMS</h1>
        <p> Please login here: <p>
        <% if (typeof(error) !== 'undefined') { %>
          <div id='error'> <%= error %> </div>
        <% } %>

        <form method="post" action="/users/login" class="form-inline">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="johnsmith">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <input type="hidden" name="_csrf" value="<%=csrf%>"></input>
          <button type="submit" class="btn btn-default">Login</button>
        </form>

        <button class="register-btn"> <a href="/register" role="button"> Create Account</a> </button>
      </div>
    </div>
  </body>
</html>